.footer {
    width: 100%;
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 10px 0;
}
 
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.image-container img {
    width: 100px;
}